<!-- IF VKBB_SAVE_ON and VKBB_DISPLAY -->
<div style="float:<!-- IF VKBB_SAVE_P -->left<!-- ELSE -->right<!-- ENDIF -->;padding:5px;">
<script type="text/javascript"><!--
document.write(VK.Share.button(<!-- IF VKBB_SAVE_L -->{url: "{U_CANONICAL}", <!-- ELSE -->{url: "{VKBB_SAVE_LT}", <!-- ENDIF -->title: "<!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF -->" },{type: "{SAVE_STYLE}", text: "{SAVE_TEXT}"}));
--></script></div>
<!-- ENDIF -->


