<div class="forabg">
		<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item"><dt><div class="list-inner">{L_USERS_VK}</div></dt></dl>
			</li>
		</ul>
		<ul class="topiclist forums">
		<li class="row">
		<div class="flex-container">
		<!-- BEGIN vkwigets -->
	<div class="flex-item2"><div class="vk_info_user"><div class="vk_info_user_photo">{vkwigets.VK_PHOTO}</div> <div class="vk_info"><strong><!-- IF vkwigets.VK_FIRSTNAME -->{vkwigets.VK_FIRSTNAME}<!-- ENDIF --><br><!-- IF vkwigets.VK_LASTNAME -->{vkwigets.VK_LASTNAME}<!-- ENDIF --></strong></div></div></div>
	<!-- BEGINELSE -->
		<div class="flex-item2">{L_NO_MEM}</div>
	<!-- END vkwigets -->
	</div>
	</li>
</ul>
</div>
</div>
